
.navbar{
	padding-top: 0px;;
	font-size: xx-large;
	text-align: center;	
}

em{
	color: red;
	
}
span{
	color: #ffff00;
}
strong{
	color: green;
}
.Akan{
	text-align: center;
	top: 15%;	
}
h3{font-size: larger;}
p{font-size: larger;}
h4{font-size: larger;}
h5{
	text-align: center;
	font-size: larger;
}
.keyin{
	text-align: center;
	position: relative;
	left: 30%;
	width: 40%;	
	height: 70vh;
}